.photo-grid {
  display: grid;
  gap: 16px;

  justify-content: center;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  padding-top: 92px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    /* max-width: 928px; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    /* max-width: 720px; */
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 16px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 12px;
    padding-top: 64px;
  }
}