.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin: 0 auto;

  max-width: calc(100% - 48px*2);
  padding-top: 28px;
  padding-bottom: 48px;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 424px) {
  .header {
    max-width: calc(100% - 16px*2);
    padding-top: 16px;
  }
}